/* ************************************************************************
*************************         Above This is Addons        ****************
************************************************************************ */

.header {
  height: 6.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.8rem;
  background-color: #87ceeb;
  position: relative;
}

.logo {
  height: 5.4rem;
}

.main-nav-list {
  display: inline-block;
  display: flex;
  align-items: center;
  gap: 2.2rem;
  font-size: 1.8rem;
  font-weight: 600;
}

.head-nav-link:link,
.head-nav-link:visited {
  text-decoration: none;
  /* padding: 1rem 2rem; */
  color: #272727;
  border-radius: 0.7rem;
  transition: all 0.3s;
}

.head-nav-link:hover,
.head-nav-link:active {
  padding: 1rem 2rem;
  border-radius: 9px;
  background-color: #000033;
  color: #fff;
}

.head-nav-link.nav-last:link,
.head-nav-link.nav-last:visited {
  padding: 1rem 2rem;
  border-radius: 9px;
  background-color: #000033;
  color: #fff;
}
.head-nav-link.nav-last:hover,
.head-nav-link.nav-last:active {
  background-color: #190002;
  color: #fff;
}

.nav-btn {
  border: none;
  background-color: none;
  cursor: pointer;
  display: none;
}

.nav-btn-icon {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.nav-btn-icon[name="close-outline"] {
  display: none;
}

.head-img {
  max-width: 85%;
  border-radius: 50%;
  /* padding-top: 4.8rem; */
}

.margin-right {
  margin-right: 1.6rem !important;
}

.courses-box {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  overflow: hidden;
}

.courses-img img {
  height: 5.2rem;
  width: 5.2rem;
  margin-right: -1.2rem;
  border-radius: 50%;
  border: 0.3rem solid #6ca5bc;
  transition: all 0.3s;
}

.courses-img img:last-child {
  margin: 0;
}

.courses-img img:hover {
  transform: scale(1.1);
}

.courses-img {
  display: flex;
}

.course-description {
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: 600;
}

.course-description span {
  color: #4a9700;
  font-size: 2.2rem;
  font-weight: 700;
  margin-right: 0.5rem;
  /* border: 1px solid #000033; */
}

/* *************Section-Featured*****************  */

.featured-in {
  background-color: #87ceeb;
  padding: 1.2rem 0 4.2rem 0;
  /* box-shadow: 0 8rem 1rem rgba(0, 0, 0 0.7); */
}

.featured-in-text {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #999;
}

.featured-logo-box {
  display: flex;
  justify-content: space-around;
  /* gap: 1rem; */
}

.logos {
  height: 4.8rem;
  filter: brightness(100%);
  opacity: 50%;
  width: 10%;
}

/* *************section-how*****************  */

.section-how {
  padding-top: 3.2rem;
  background-color: #6fd0f7;
}

.how-image-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.how-image-box::before,
.how-image-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.how-image-box::before {
  width: 80%;
  padding-bottom: 70%;
  background-color: #999;
}

.how-image-box::after {
  width: 70%;
  padding-bottom: 60%;
  background-color: #3bc6fd;
}

.how-image {
  width: 50%;
  z-index: 1;
  border-radius: 1rem;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #999;
  margin-bottom: 1.3rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.4;
}

/* <!--***************   Sample Courses **************** --> */

.center-text {
  text-align: center;
}

.section-course {
  padding: 9.6rem 0 3.5rem 0;
  background-color: #3bc6fd;
}

.sample-item {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.32);
  overflow: hidden;
  border-radius: 0.9rem;
  transition: all 0.4s;
}

.sample-item:hover {
  box-shadow: 0 6.4rem 9.8rem rgba(0, 0, 0, 0.3);
  transform: translatey(-1.8rem);
}

.course-title {
  font-size: 2.2rem;
  font-weight: 600;
  color: #333;
  padding: 1rem 0 2.2rem 0;
}

.course-sample-img {
  width: 100%;
  margin-bottom: 1.2rem;
  border-radius: 1.2rem;
}

.content-except-img {
  padding: 2.8rem 4.8rem 4.8rem 4.8rem;
}

.tag {
  display: inline-block;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #000033;
  padding: 0.4rem 0.8rem;
  background-color: #4a9700;
  border-radius: 1rem;
  font-weight: 600;
}

.tag-services {
  background-color: #cd4d4d;
}
.course-list {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.course-list-items {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.course-list-items {
  list-style: none;
  font-size: 1.2rem;
}

.course-icons {
  color: #4a9700;
  font-size: 2.4rem;
}

.why-us-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  justify-content: center;
}

.w-list {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.why-us-list-item {
  height: 2.4rem;
  width: 2.4rem;
  color: #4a9700;
}

.why-text {
  font-size: 2rem;
}

.all-plans {
  margin-top: 2.4rem;
  text-align: center;
  font-size: 2rem;
}

/* <!--**********    #Section Testimonial  ********** --> */

.section-testimonials {
  display: grid;
  grid-template-columns: 56fr 42fr;
  background-color: #32c3fc;
}

.testimonial-heading {
  padding: 3.6rem;
}

.testimonial-heading h2 {
  font-size: 3.8rem;
  margin-bottom: 6.2rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  column-gap: 2.4rem;
  row-gap: 5.2rem;
}

.testimonial-img {
  width: 9.6rem;
  border-radius: 50%;
}

.testimonial-text {
  font-size: 1.6rem;
  line-height: 1.4;
  margin-bottom: 1.2rem;
}

.testimonial-name {
  font-size: 1.4rem;
  color: #777;
  margin-bottom: 2.4rem;
}

.photos {
  display: block;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 1.6rem;
  padding: 1.6rem;
}

.photo-item {
  overflow: hidden;
}

.photos img {
  width: 100%;
  transition: all 0.4s;
}

.photos img:hover {
  transform: scale(1.1);
}

/* <!--**********    #Section Pricing  ********** --> */

.section-pricing {
  padding: 9.6rem 0;
  background-color: #18bcfd;
}

.pricing-box {
  background-color: #71c7e9;
}

.pricing-starter {
  justify-self: end;
  border: 2px solid #71c7e9;
  padding: 4.6rem;
}

.pricing-second {
  background-color: #60c2e9;
  justify-self: start;
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}

.pricing-second::after {
  content: "Best Value";
  position: absolute;
  top: 6%;
  right: -25%;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
  background-color: red;
  padding: 0.6rem 8rem;
  transform: rotate(45deg);
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  color: #000033;
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}

.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.price-list {
  list-style: none;
  margin-bottom: 1.2rem;
}

.plan {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.6rem;
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
  padding-bottom: 3.2rem;
}

.feature-icon {
  color: #000033;
  height: 3.2rem;
  width: 3.2rem;
  background-color: #32c3fc;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  border-radius: 50%;
}

.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/* ***********************     FORM     ******************************** */

.form {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 1.1rem;
  background-image: linear-gradient(to right, #00a8eb, #000033);

  overflow: hidden;
}

.form .head-secondary {
  font-size: 4.4rem;
  color: #000030;
  margin-bottom: 3.6rem;
}

.form-text-box {
  padding: 1.4rem 1.6rem;
}
.form-text {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 3.6rem;
}

.form-boxx {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.6rem;
  row-gap: 2.8rem;
}

.form-boxx label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.form-boxx input,
.form-boxx select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #e1f6ff;
  border-radius: 0.9rem;
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.15);
}

.form-boxx input::placeholder {
  color: #aaa;
}

.form *:focus {
  outline: none;
  box-shadow: 0 0 0 0.3rem rgba(31, 0, 0, 0.63);
}

.form-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(48, 48, 214, 0.418),
      rgba(0, 0, 51, 0.411)
    ),
    url("../img/formimg.jpg");
  background-size: cover;
  background-position: center;
}

/* ***************************************************************

                    FOOTER

****************************************************************** */

.footer {
  padding: 4.4rem 0 9rem 0;
  border-top: 1px solid #ddd;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  /* list-style: none; */
  height: 2.4rem;
  width: 2.4rem;
  color: blue;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.footer-nav {
  /* font-size: 2rem; */
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3sec;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
.foot-logo-img {
  height: 4.8rem;
  /* filter: brightness(0); */
  /* opacity: 50%; */
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

/* ***************************************************************

                    COMMON CSS

****************************************************************** */

/* font color- #272727

Green- #4a9700  #7cfc00 #70e300    #7cfc00     #63ca00

BLUE #000080

sky blue- #87ceeb #6fd0f7 
        #e7f5fb  #b7e2f3   #9fd8ef  #7ab9d4  #abddf1 

        #6ca5bc  #5f90a5 #5f90a5   #1b292f    #0d1517



Shade- #e6ecf4  #cccce6  #b3c6df #8080c0  #3468a9 #333399   #1a1a8d 

Dark- #01214a   #00005a #00142c  #000033  #00000d  #00070f


RED #cc0000  #a60000 #b80000

Shade- #ffe6e6 #f1cccc  #ffcccc  #e39999  #ff9999   #cd4d4d

Dark-#120000  #250000  #370000    #5c0000   #930000
 #800000   #4c0000   #330000   #190000     #190002
*/

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #272727;
  overflow-x: hidden;
}

.head-primary,
.head-secondary,
.head-tertiary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.head-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.head-secondary {
  font-size: 4.8rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.head-tertiary {
  font-size: 2.8rem;
  line-height: 1.4;
  margin-bottom: 1.6rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #000033;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

/* ************************REUSABLE CODE***************************/

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1.8rem;
}

.grid {
  display: grid;
  column-gap: 6.2rem;
  row-gap: 9.6rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--center-v {
  align-items: center;
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

/* *****************REUSABLE CODE**********************/

section {
  /* max-width: 120rem; */
  background-color: #32c3fc;
  /* background-image: linear-gradient(to left, grey); */
  /* height: 100%vh; */
}

.head-text-box {
  padding: 0;
}

.head-section {
  padding: 0.8rem 0 9.6rem 0;
}

.head-box {
  max-width: 125rem;
  padding: 8.2rem 1.8rem;
  display: grid;
  align-items: center;
  gap: 8.2rem;
  grid-template-columns: 1.4fr 1fr;
  margin: 0 auto;
}

.head-primary span {
  font-size: 2.8rem;
  line-height: 1;
  letter-spacing: -0.3px;
  color: #000033;
  /* padding-bottom: 4.8rem; */
}

.head-discription {
  font-size: 1.8rem;
  line-height: 1.2;
  padding-bottom: 4.8rem;
}

.btn-box {
  display: flex;
}

.btn,
.btn:link,
.btn:visited {
  font-size: 1.6rem;
  /* font-weight: 500; */
  color: #fff;
  text-decoration: none;
  border-radius: 1rem;
  padding: 1.2rem 2.4rem;
  cursor: pointer;
  margin: 4rem 0 6rem 0;
  transition: all 0.3s;

  border: none;
  cursor: pointer;
  font-family: inherit;
}

.btn-submit {
  background-color: #000033;
  color: #fff;
  align-self: center;
  padding: 1.2rem;
}

.btn-submit:hover {
  background-color: #180002;
  transform: scale(1.09);
  transform: translateY(-20%);
  box-shadow: 1rem 1rem 21rem #1313e2;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.3rem rgba(0, 0, 53);
}

.btn-eatwell:link,
.btn-eatwell:visited {
  background-color: #000033;
}

.btn-eatwell:hover,
.btn-eatwell:active {
  background-color: #190002;
  color: #fff;
}

.btn-learnmore:link,
.btn-learnmore:visited {
  background-color: #6fd0f7;
}

.btn-learnmore:hover,
.btn-learnmore:active {
  background-color: #6ca5bc;
  color: #272727;
  box-shadow: inset 0 0 3px #fff;
}

.link:link,
.link:visited {
  display: inline-block;
  color: #000033;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #000033;
  border-bottom: 1px solid transparent;
}

/* ***************************************************************

                    QUERIES CSS

****************************************************************** */

/* 75em=16*75=1200px */
@media (max-width: 75em) {
  html {
    font-size: 56.2%;
  }
  .head-box {
    max-width: 120rem;
  }
  .head-primary {
    font-size: 4.4rem;
  }
  .head-secondary {
    font-size: 3.6rem;
  }
  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .main-nav-list {
    gap: 1rem;
    font-size: 1.6rem;
    font-weight: 500;
  }
}

@media (max-width: 69em) {
  .photos {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* FOR TABLET */

@media (max-width: 60em) {
  html {
    font-size: 50%;
  }
  .head-section {
    padding-bottom: 4.8rem;
  }
  .head-box {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 6.2rem 9.6rem 0 9.6rem;
    gap: 3.2rem;
  }
  .head-img {
    max-width: 25%;
    border-radius: 222%;
  }
  .head-primary span {
    font-size: 2.4rem;
  }
  .step-number {
    font-size: 5.2rem;
  }
  .grid {
    column-gap: 2rem;
  }
  .section-testimonials {
    grid-template-columns: 1fr;
  }
  .photos {
    grid-template-columns: repeat(6, 1fr);
  }
  .form {
    grid-template-columns: 3fr 2.3fr;
  }
  .form-boxx {
    grid-template-columns: 1fr;
  }
  .nav-btn {
    display: block;
  }
  .head-nav {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 8rem;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in;
    /* display:none */
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: translateX(100%);
  }
  .nav-open .head-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
/*     display: none; */
  }
  .nav-open .nav-btn-icon[name="close-outline"] {
    display: none;
  }
  .nav-open .nav-btn-icon[name="menu-outline"] {
    display: block;
  }

  .main-nav-list {
    flex-direction: column;
    column-gap: 4.8rem;
    font-size: 3.2rem;
    gap: 2.8rem;
  }
  .section-how {
    padding: 6.4rem 0;
  }
}

@media (max-width: 44em) {
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .why-us {
    grid-column: 1/-1;
    align-self: center;
    justify-self: center;
  }
  .head-secondary {
    margin-bottom: 6.4rem;
  }
  .pricing-box {
    width: 90%;
  }
  .footer {
    padding-top: 0;
    padding-bottom: 0;
  }
  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
    row-gap: 9.6rem;
    background-color: #0c0001;
    padding-top: 4.8rem;
    padding-bottom: 4.8rem;
  }

  .logo-col,
  .address-col {
    grid-row: 2;
    grid-column: span 3;
  }
  .nav-col {
    grid-row: 1;
    grid-column: span 2;
  }
}

@media (max-width: 31em) {
  .grid {
    row-gap: 3.8rem;
  }
  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }
  .head-box {
    padding: 3.2rem;
  }
  .head-section {
    padding-bottom: 2.4rem;
  }
  .head-img {
    max-width: 45%;
    border-radius: 8%;
    padding: 0;
  }
  .logos {
    height: 2.8rem;
    width: 15%;
  }
  .how-image-box:nth-child(3) {
    grid-row: 4;
  }
  .how-image-box:nth-child(5) {
    grid-row: 6;
  }
  .how-image-box {
    transform: translateY(-2.4rem);
  }
  .testimonials {
    grid-template-columns: 1fr;
  }
  .testimonial-heading .head-secondary {
    font-size: 2.8rem;
  }
  .photos {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  .pricing-box {
    align-items: center;
    justify-content: center;
  }
  .pricing-starter,
  .pricing-second {
    width: 70%;
    justify-self: center;
  }
  .pricing-second::after {
    top: 7%;
    right: -18%;
    padding: 0.6rem 8rem;
  }
  .form {
    grid-template-columns: 1fr;
  }
  .form-img-box {
    height: 38rem;
    grid-row: 1;
  }
}

/* 
FONT SIZE 
10 / 12/ 14 / 16 / 18 / 20 /
24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 

SPACING
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 /128

FONT WEIGHT
400 / 500 / 600 / 700

LINE HEIGHT
1 / 1.05 / 1.2 / 1.6

LETTER SPACING
0.5PX  /  0.75PX
*/
